= form_for @user_diagram do |f|
  - if @user_diagram.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user_diagram.errors.count, "error")} prohibited this user_diagram from being saved:"
      %ul
        - @user_diagram.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :user
    = f.text_field :user
  .field
    = f.label :diagram
    = f.text_field :diagram
  .actions
    = f.submit 'Save'
