%h2 Listing users

%table.datatable.responsive.no-wrap
  %thead
    %tr
      %th Name
      %th Email
      %th Institution
      -#%th Access level
      %th
      %th
      %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.institution.name
        -#%td= user.access_level.code
        %td= link_to 'Show', user
        %td= link_to 'Edit', edit_user_path(user)
        %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
