%h2 Listing users

= link_to "All Users", :action => "index"
- if policy(current_user).approve?
  |
  = link_to "Users awaiting approval", :action => "index", :approved => "false"


%table.datatable.responsive.no-wrap
  %thead
    %tr
      %th Name
      %th Email
      %th Institution
      %th
      - if policy(current_user).edit?
        %th
      - if policy(current_user).destroy?
        %th
  %tbody
    - @users.each do |user|
      %tr
        %td= user.name
        %td= user.email
        %td= user.institution.name
        %td= link_to 'Show', user
        - if policy(current_user).edit?
          %td= link_to 'Edit', edit_user_path(user)
        - if policy(current_user).destroy?
          %td= link_to 'Destroy', user, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New User', new_user_path
