%h1#major_in_out Sankey Diagram of Student's Start and End Discipline and Major

%p{:style => "font-size:12px; font-weight: bold"}
  This graph visualizes the relationship between students' initial discipline and major and their final degree discipline and major.

#top_info
  %a{:href => "", :id => "toggle_instructions", :style => "font-size:12px; font-weight:bold;"} Show Instructions
  #instructions{:style => "display:none;"}
    %ul{:style => "font-size:12px;"}
      %li Hovering the cursor over a box or link will show additional information about the students represented.
      %li Click a box to highlight the links leaving or entering the box. A double-click is sometimes necessary.
      %li Click a link to highlight it.
      %li Drag a box to reposition it vertically.
      %li Shift-double-click a box to expand it (reveal the subcategories within it).
      %li Shift-alt-double-click a box to collapse it and it's siblings into the parent (hide the subcategory and show the parent category).
      %li Shift-double-clicking a major box will contract all majors in the same discipline back into one box.
      %li A CSV formatted table representing all currently highlighted links can be show by clicking "Show Copyable CSV of Selected Links".
      -#%li A large table including all links can be downloaded by clicking the "Download CSV" link.
      %li If the diagram is too cluttered check the "Hide Unselected Links" checkbox.
      %li Filter the population using the filter options to the left of the diagram.

  %br

  %a{:id => "toggle_assumptions", :style => "font-size:12px; font-weight:bold;"} Show Simplifications and Assumptions
  %p#assumptions{:style => "color:red; display:none;"}
    WARNING: this EXPERIMENTAL TOOL has not yet been fully validated against similar data from the Office of Institutional Analysis and may report numbers that could differ by as much as a few percent. The Data available for this visualization spans from term: 2000 - 10 to 2012 - 10 and was downloaded on 2013 - 02. This tool has been tested with Chrome and Firefox and will work best in those browsers.  Performance in IE and Safari has not yet been verified.
    %br
    %br
    *URM = underrepresented minorities as defined by the UCD Davis Institutional Research Office (African-American/Black, American Indian/Alaska Native, Hispanic, Latino/Other Spanish, Mexican-American/Mexican/Chicano, and Puerto Ricans). This definition varies slightly from definitions used by the National Science Foundation and National Insitute of Health that also include Native Hawaiians and Pacific Islanders and may include additional groups depending on the field of research under consideration.

%table{:width => "100%", :style => "display:none;"}
  %tr
    %td
      #start_disc_expanders
    %td
      #end_disc_expanders

%hr{:style => "clear:both;"}

#controls{:style => "float:left; width: 20%; display:none; "}
  #get_csv_div{:style => "font-size:12px"}
    -#=link_to "Download CSV", major_in_outs_path(format: "csv"), :id => "get_csv"
    -#%br
    =link_to "Show Copyable CSV of Selected Links", "#", :id => "get_subselect_csv"

    #subselect_table{:style => "display:none;"}
      =text_area_tag :subselect_csv, ""

  #link_selectors{:style => "margin-top:10px; margin-bottom:10px;"}
    %label{:for => "hide_unselected", :style => "font-weight:bold"} Hide Unselected Links:
    = check_box_tag "hide_unselected"
    %br
    %a{:href => "", :id => "deselect_links"} Select None

  #starting_class_select
    %h2{:style => "margin-bottom:3px"} Select a Starting Class:
    =form_for beta_major_in_outs_path,:remote => true, :format => :json, :html => {:id => :beta_major_in_out_form, :'data-type' => 'json'} do
      %label{:for => "starting_term", :style => "display: inline;"} Starting Term:
      -#=select_tag :starting_term,
      -#  options_for_select(@first_terms, :selected => params[:starting_term] || 200610),
      -#  :style => "display: inline;"
      =select_tag :starting_term,
        options_for_select([200610,200710,200810,200910], :selected => params[:starting_term] || 200610),
        :style => "display: inline;"
      %br

      %input{:type => :submit, :value => "Fetch Data"}
      %p Warning: Data will take several minutes to load.

  #filters
    %h2{:style => "margin-bottom:3px;"} Filter Options:
    %table{:style => "width: 90%; table-layout:fixed; margin-bottom:0px"}
      %tr
        %td.vis-filter-column{:style => "width: 25%;"}
          .form-item{:style => "margin-bottom:3px;"}
            %label{:for => "end_term", :style => "display: inline;"} End Term:
            = select_tag :end_term,
                         options_for_select([200701,200703,200707,200710,200801,200803,200807,200810,200901,200903,200907,200910,201001,201003,201007,201010,201101,201103,201107,201110,201201,201203,201207,201210],
                          :selected => 201003),
                         :style => "display: inline;",
                         :class => "filter"

          .form-item{:style => "margin-bottom:3px;"}
            %label{:for => "gender"} Gender:
            =select_tag :gender,
                        options_for_select(%w(M F),
                          :selected => params[:gender] || %w(M F)),
                        :multiple => true,
                        :class => "filter"
            %a{:href => "", :id => "gender_select_all", :class => "select_all"} Select All
            = " / "
            %a{:href => "", :id => "gender_select_none", :class => "select_none"} None

          .form-item{:style => "margin-bottom:3px;"}
            %label{:for => "admit_level"} Admit Level:
            = select_tag :admit_level,
                         options_for_select(["Freshman", "Transfer"],
                            :selected => params[:admit_level] || ["Freshman", "Transfer"]),
                         :multiple => true,
                         :height => 2,
                         :class => "filter"
            %a{:href => "", :id => "admit_level_select_all", :class => "select_all"} Select All
            = " / "
            %a{:href => "", :id => "admit_level_select_none", :class => "select_none"} None

          .form-item{:style => "margin-bottom:3px;"}
            %label{:for => "urm", :title => "URM = underrepresented groups as defined by the National Science Foundation (African Americans, Hispanics, Native Americans, Pacific Islanders and Alaska Natives)"} URM*:
            = check_box_tag "urm", "1", params[:urm] || false

          -if @is_admin
            .form-item{:style => "margin-bottom:3px;"}
              %div#form_item_ethn_code
                %label{:for => "ethn_code"} Ethnicity:
                = select_tag :ethn_code,
                            options_for_select(@eths,
                              :selected => params[:ethn_code] || @eths ),
                            :multiple => true,
                            :class => "filter"
                %a{:href => "", :id => "ethn_code_select_all", :class => "select_all"}  Select All
                = " / "
                %a{:href => "", :id => "ethn_code_select_none", :class => "select_none"} None

          .form-item{:style => "margin-bottom:3px;"}
            %label{:for => "started_in_stem", :style => "display: inline;"} Started In STEM:
            = select_tag :started_in_stem,
                         options_for_select(["Only", "Excluded", "Included"],
                          :selected => params[:started_in_stem] || "Included"),
                         :style => "display: inline;",
                         :class => "filter"

          .form-item{:style => "margin-bottom:3px;"}
            %label{:for => "international", :style => "display: inline;"} International:
            = select_tag :international,
                         options_for_select(["Only", "Excluded", "Included"],
                          :selected => params[:international] || "Included"),
                         :style => "display: inline;",
                         :class => "filter"

          .form-item{:style => "margin-bottom:3px;"}
            %label{:for => "eop", :style => "display: inline;"} EOP:
            = select_tag :eop,
                         options_for_select(["Only", "Excluded", "Included"],
                          :selected => params[:eop] || "Included"),
                         :style => "display: inline;",
                         :class => "filter"

          .form-item{:style => "margin-bottom:3px;"}
            %label{:for => "busp", :style => "display: inline;"} BUSP:
            = select_tag :busp,
                         options_for_select(["Only", "Excluded", "Included"],
                          :selected => params[:busp] || "Included"),
                        :style => "display: inline;",
                        :class => "filter"

          .form-item{:style => "margin-bottom:3px;"}
            %label{:for => "murps", :style => "display: inline;"} MURPS:
            = select_tag :murps,
                         options_for_select(["Only", "Excluded", "Included"],
                          :selected => params[:murps] || "Included"),
                        :style => "display: inline;",
                        :class => "filter"

          .form-item{:style => "margin-bottom:3px;"}
            %label{:for => "regents_offered", :style => "display: inline;"} Offered Regents Scholarship:
            %br
            = select_tag :regents_offered,
                         options_for_select(["Only", "Excluded", "Included"],
                          :selected => params[:regents_offered] || "Included"),
                        :style => "display: inline;",
                        :class => "filter"

          .form-item{:style => "margin-bottom:3px;"}
            %input{:type => :button, :value => "Apply Filter", :id => "apply_filter"}
            -#%p{:style => "-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;"}
            -#  The graph may take several seconds to refresh after filters are applied.

#control_toggle_container
  %img#control_toggle{:src => "/assets/wrench.png", :height => "24", :width => "24"}

#major_in_outs_container{:style => "float:left; width: 100%; text-align:center;"}

  #vis_header{:style => "display:none;"}
    #vis_title{:style => "margin:0 auto; font-size:x-large;"}
    %br
    #vis_filter_desc{:style => "margin:0 auto; font-size:x-large;"}
    %br{:style => "clear:both;"}

    #current_hovered_item{:style => "height:50px;"}

    %br{:style => "clear:both;"}

    #start_header{:style => "float: left; width:50%;"}
      #start_title{:style => "float: left; font-size:large; text-align:center;"}

    #end_header{:style => "float: right; width:50%;"}
      #end_forward{:style => "float: right;"}
        = button_tag ">", {:id => "end_forward_button"}
      #end_title{:style => "float: right; font-size:large; text-align:center; margin-left:5px; margin-right :5px;"}
      #end_back{:style => "float: right;"}
        = button_tag "<", {:id => "end_back_button"}


  #major_in_outs_chart{:style => "width: 100%"}
    %h2#loadingMsg
      This visualization takes approximately 2 minutes to fetch the data it requires. Please be patient and do not refresh the page.
      %br
      =image_tag("spinner.gif")
      Loading

-##color_key_div{:style => "float:right; display:none; margin-left:10px;"}
-#  %h4 Key
-#  %table#color_key
-#    %tr
-#      %td Discipline
-#      %td Color

%br{:style => "clear:both;"}


= render :partial => "feedback/feedback_form", :locals => { :report => "Major In/Out Sankey Diagram", :form_id => "major_in_out_feedback_form"}


= render(:partial => "major_in_outs/link.js")
= render(:partial => "major_in_outs/node.js")
= render(:partial => "major_in_outs/diagram.js")
= render(:partial => "major_in_outs/graph.js")
= render(:partial => "major_in_outs/controller.js")

