<!DOCTYPE html>
<html>
<head>
  <title>RibbonDiagram</title>
  <%= stylesheet_link_tag    'application', :media => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="slicknav">

</div>

<ul id="menu" style="display:none;">
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to 'Institutions', institutions_path %></li>
    <li><%= link_to 'AccessLevels', access_levels_path %></li>
    <li><%= link_to 'Diagrams', diagrams_path %></li>
    <li><%= link_to 'UserDiagrams', user_diagrams_path %></li>
</ul>


<div class="page-content">
    <%= yield %>
</div>


</body>
</html>
